.shoppingCartIconEmpty {
  color: #515151;
  font-size: 25px;
  pointer-events: none;
}

.shoppingCartIcon {
  color: #36ee1a97;
  font-size: 25px;
  pointer-events: none;
  animation-name: shoppingCartIconFill;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes shoppingCartIconFill {
  from {
    color: #515151;
  }

  to {
    color: #36ee1a97;
  }
}

.activeLink {
  border-radius: 2px;
  border: 2px solid black;
}
